@tailwind base;

@tailwind components;

html {
    height: 100%;
}

.th {
    @apply border border-gray-400 p-2;
}

.td {
    @apply border border-gray-400 text-center text-sm p-2;
}

.label {
    @apply block text-gray-700 text-sm font-bold mb-2;
}

.input {
    @apply text-sm shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.input-important {
    @apply text-gray-700 !important;
}

.input:focus {
    @apply  outline-none shadow-outline;
}

.sbtn {
    @apply bg-blue-500 text-white mt-2 font-bold py-2 px-4 rounded;
}

.sbtn:hover {
    @apply bg-blue-700;
}

.sbtn:focus {
    @apply outline-none shadow-outline;
}

.error-message {
    @apply text-sm mt-1 text-red-600;
}

.alert-success {
    @apply my-3 w-full p-2 pl-3 bg-green-500 text-white rounded;
}

.pagination {
    @apply flex my-2;
}

.pagination a{
    @apply block px-3 py-1 text-white bg-gray-700 mx-1;
}

.pagination a:hover{
    @apply bg-gray-400 text-gray-900;
}

.pagination a.active{
    @apply bg-gray-400 text-gray-900;
}

.CodeMirror,
.CodeMirror-scroll {
    max-height: 350px;
}

.CodeMirror-fullscreen.CodeMirror {
    max-height: none;
}

.CodeMirror-fullscreen .CodeMirror-scroll {
    max-height: none;
}

@tailwind utilities;
