<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}"></title>
    <th:block th:insert="admin/fragments/style::style"></th:block>
</head>
<body class="min-h-full flex flex-col text-gray-900">
    <th:block th:insert="admin/fragments/header::header"></th:block>
    <div class="main flex flex-row flex-1">
        <div class="slider w-1/6 p-2 bg-gray-800 text-gray-100 text-lg" th:insert="admin/fragments/sider::sider"></div>
        <div class="body w-2/5 p-3 flex flex-col">
            <div class="flex-1">
                <h1 class="text-lg font-bold"><span th:text="${title}"></span> <small><a class="text-blue-400" th:href="@{/admin/links}">Back to list</a></small></h1>
                <hr class="border mt-2 mb-3">
                <form class="mt-2" th:action="${link.id} ? @{/admin/links/{id}/update(id=${link.id})} : @{/admin/links}" method="post" th:object="${link}">
                    <div>
                        <label class="label" for="name">
                            Name
                        </label>
                        <input type="text" id="name" placeholder="Name" th:field="*{name}" class="input">
                        <p class="error-message" th:if="${errors['name']}" th:text="'name ' + ${errors['name']}"></p>
                    </div>
                    <div>
                        <label class="label" for="url">
                            Url
                        </label>
                        <input type="text" id="url" placeholder="Url" th:field="*{url}" class="input">
                        <p class="error-message" th:if="${errors['url']}" th:text="'url ' + ${errors['url']}"></p>
                    </div>
                    <div>
                        <label class="label" for="sort">
                            Sort
                        </label>
                        <input type="number" id="sort" placeholder="Sort" th:field="*{sort}" class="input">
                        <p class="error-message" th:if="${errors['sort']}" th:text="'sort ' + ${errors['sort']}"></p>
                    </div>
                    <button class="sbtn" type="submit">
                        Submit
                    </button>
                </form>
            </div>
            <div th:replace="admin/fragments/footer::footer">footer</div>
        </div>
    </div>
</body>
</html>
