<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}"></title>
    <th:block th:insert="admin/fragments/style::style"></th:block>
</head>
<body class="min-h-full flex flex-col text-gray-900">
    <th:block th:insert="admin/fragments/header::header"></th:block>
    <div class="main flex flex-row flex-1">
        <div class="slider w-1/6 p-2 bg-gray-800 text-gray-100 text-lg" th:insert="admin/fragments/slider::slider"></div>
        <div class="body w-5/6 p-3 flex flex-col">
            <div class="flex-1">
                <h1 class="text-lg font-bold">Posts <small><a class="text-blue-400" th:href="@{/admin/posts/create}">new post</a></small></h1>
                <hr class="border mt-2 mb-3">
                <form action="" class="flex text-sm">
                    <div class="mr-2 self-center">关键字：</div>
                    <div class="mr-2">
                        <input type="text" name="keyword" class="input" th:value="${keyword}">
                    </div>
                    <div class="mr-2">
                        <button class="btn" type="submit">搜索</button>
                    </div>
                </form>
                <div class="alert-success" th:if="${action}" th:text="'Successfully ' + ${action} + ."></div>
                <table class="border-collapse w-full mt-2">
                    <tr>
                        <th class="th">ID</th>
                        <th class="th">Title</th>
                        <th class="th">Views</th>
                        <th class="th">Tags</th>
                        <th class="th">Created</th>
                        <th class="th">Updated</th>
                        <th class="th">Action</th>
                    </tr>
                    <th:block th:each="post: ${posts.content}">
                    <tr class="border border-gray-400">
                        <td class="td" th:text="${post.id}"></td>
                        <td class="td" th:text="${post.title}">title</td>
                        <td class="td" th:text="${post.views}">views</td>
                        <td class="td" th:text="${post.tags}">tags</td>
                        <td class="td" th:text="${#dates.format(post.created, 'yyyy-MM-dd HH:mm:ss')}">created</td>
                        <td class="td" th:text="${#dates.format(post.updated, 'yyyy-MM-dd HH:mm:ss')}">updated</td>
                        <td class="td">
                            <a class="mx-1 hover:text-blue-400" th:href="@{/admin/posts/{id}/edit(id=${post.id})}">edit</a>
                            <a onclick="return confirm('Are you sure you want to delete it?');" class="mx-1 hover:text-blue-400" th:href="@{/admin/posts/{id}/delete(id=${post.id})}">delete</a>
                        </td>
                    </tr>
                    </th:block>
                </table>
                <div th:if="${posts.totalPages > 0}" class="pagination">
                    <th:block th:each="pageNumber : ${pageNumbers}">
                        <a th:href="@{/admin/posts(page=${pageNumber})} + ${queryString}"
                           th:text="${pageNumber}"
                           th:class="${pageNumber==posts.number + 1} ? active"></a>
                    </th:block>
                </div>
            </div>
            <div th:replace="admin/fragments/footer::footer">footer</div>
        </div>
    </div>
</body>
</html>
