<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${title}</title>
    <th:block th:insert="admin/fragments/style::style"></th:block>
</head>
<body class="min-h-full flex flex-col text-gray-900">
<div class="flex flex-col flex-1">
    <div th:insert="admin/fragments/header::header"></div>
    <div class="main flex flex-row flex-1">
        <div class="slider w-1/6 p-2 bg-gray-800 text-gray-100 text-lg" th:insert="admin/fragments/slider::slider"></div>
        <div class="body w-5/6 p-2">
            <div th:replace="admin/fragments/footer::footer">footer</div>
        </div>
    </div>
</div>
</body>
</html>