<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}"></title>
    <th:block th:insert="admin/fragments/style::style"></th:block>
</head>
<body class="min-h-full flex flex-col text-gray-900">
    <th:block th:insert="admin/fragments/header::header"></th:block>
    <div class="main flex flex-row flex-1">
        <div class="slider w-1/6 p-2 bg-gray-800 text-gray-100 text-lg" th:insert="admin/fragments/sider::sider"></div>
        <div class="body w-2/5 p-3 flex flex-col">
            <div class="flex-1">
                <h1 class="text-lg font-bold"><span th:text="${title}"></span> <small><a class="text-blue-400" th:href="@{/admin/settings}">Back to list</a></small></h1>
                <hr class="border mt-2 mb-3">
                <form class="mt-2" th:action="${setting.id} ? @{/admin/settings/{id}/update(id=${setting.id})} : @{/admin/settings}" method="post" th:object="${setting}">
                    <div>
                        <label class="label" for="key">
                            Key
                        </label>
                        <input type="text" id="key" placeholder="Key" th:field="*{key}" class="input">
                        <p class="error-message" th:if="${errors['key']}" th:text="'key ' + ${errors['key']}"></p>
                    </div>
                    <div>
                        <label class="label" for="name">
                            Name
                        </label>
                        <input type="text" id="name" placeholder="Name" th:field="*{name}" class="input">
                        <p class="error-message" th:if="${errors['name']}" th:text="'name ' + ${errors['name']}"></p>
                    </div>
                    <div>
                        <label class="label" for="value">
                            Value
                        </label>
                        <input type="text" id="value" placeholder="Value" th:field="*{value}" class="input">
                        <p class="error-message" th:if="${errors['value']}" th:text="'value ' + ${errors['value']}"></p>
                    </div>
                    <button class="sbtn" type="submit">
                        Submit
                    </button>
                </form>
            </div>
            <div th:replace="admin/fragments/footer::footer">footer</div>
        </div>
    </div>
</body>
</html>
