<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}"></title>
    <th:block th:insert="admin/fragments/style::style"></th:block>
</head>
<body class="min-h-full flex flex-col text-gray-900">
<th:block th:insert="admin/fragments/header::header"></th:block>
<div class="main flex flex-row flex-1">
    <div class="slider w-1/6 p-2 bg-gray-800 text-lg" th:insert="admin/fragments/sider::sider"></div>
    <div class="body w-2/3 p-3 flex flex-col">
        <div class="flex-1">
            <h1 class="text-lg font-bold">Settings</h1>
            <hr class="border mt-2 mb-3">
            <th:block  th:if="${action}" th:insert="admin/fragments/alert::alert"></th:block>
            <form class="mt-2" th:action="@{/admin/settings}" method="post" th:object="${setting}">
                <input type="hidden" id="id" th:field="*{id}">
                <label class="label" for="webName">
                    Web name
                </label>
                <input type="text" id="webName" placeholder="Web name" th:field="*{webName}" class="input">
                <p class="error-message" th:if="${errors['webName']}" th:text="'Web name ' + ${errors['webName']}"></p>
                <label class="label" for="title">
                    Title
                </label>
                <input type="text" id="title" placeholder="Title" th:field="*{title}" class="input">
                <p class="error-message" th:if="${errors['title']}" th:text="'title ' + ${errors['title']}"></p>
                <label class="label" for="keywords">
                    keywords
                </label>
                <input type="text" id="keywords" placeholder="keywords" th:field="*{keywords}" class="input">
                <p class="error-message" th:if="${errors['keywords']}" th:text="'keywords ' + ${errors['keywords']}"></p>
                <label class="label" for="description">
                    Description
                </label>
                <textarea id="description" rows="3" th:field="*{description}" class="input"></textarea>
                <p class="error-message" th:if="${errors['description']}" th:text="'description ' + ${errors['description']}"></p>
                <div class="md:flex md:items-center mb-6">
                    <label class="md:w-2/3 block text-gray-500 font-bold">
                        <input class="mr-2 leading-tight" type="checkbox" th:field="*{maintenance}">
                        <span class="text-sm">
                            Maintenance mode.
                      </span>
                    </label>
                </div>
                <div class="md:flex md:items-center mb-6">
                    <label class="md:w-2/3 block text-gray-500 font-bold">
                        <input class="mr-2 leading-tight" type="checkbox" th:field="*{showContentInList}">
                        <span class="text-sm">
                            Show post content in list.
                      </span>
                    </label>
                </div>
                <label class="label" for="perPage">
                    Per Page
                </label>
                <input type="number" id="perPage" placeholder="Per Page" th:field="*{perPage}" class="input">
                <label class="label" for="header">
                    Header
                </label>
                <textarea id="header" rows="3" th:field="*{header}" class="input"></textarea>
                <label class="label" for="footer">
                    Footer
                </label>
                <textarea id="footer" rows="3" th:field="*{footer}" class="input"></textarea>
                <button class="sbtn" type="submit">
                    Submit
                </button>
            </form>
        </div>
        <div th:replace="admin/fragments/footer::footer">footer</div>
    </div>
</div>
</body>
</html>
