<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<table class="border-collapse w-3/4">
    <tr>
        <th class="border border-gray-400">ID</th>
        <th class="border border-gray-400">Title</th>
        <th class="border border-gray-400">Slug</th>
        <th class="border border-gray-400">Views</th>
        <th class="border border-gray-400">Tags</th>
        <th class="border border-gray-400">Created</th>
        <th class="border border-gray-400">Updated</th>
        <th class="border border-gray-400">Action</th>
    </tr>
    <tr class="border border-gray-400">
        <td class="border border-gray-400 text-center">id</td>
        <td class="border border-gray-400 text-center">title</td>
        <td class="border border-gray-400 text-center">slug</td>
        <td class="border border-gray-400 text-center">views</td>
        <td class="border border-gray-400 text-center">tags</td>
        <td class="border border-gray-400 text-center">created</td>
        <td class="border border-gray-400 text-center">updated</td>
        <td class="border border-gray-400 text-center">action</td>
    </tr>
</table>
</body>
</html>