<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<th:block th:fragment="sider">
    <ul>
        <li>
            <a href="#" class="siderLink ">Dashboard</a>
        </li>
        <li>
            <a th:href="@{/admin/posts}" class="siderLink">Posts</a>
        </li>
        <li>
            <a href="#" class="siderLink">Tags</a>
        </li>
        <li>
            <a href="#" class="siderLink">Links</a>
        </li>
        <li>
            <a href="#" class="siderLink">Settings</a>
        </li>
    </ul>
</th:block>
</body>
</html>