<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<th:block th:fragment="slider">
    <ul>
        <li>
            <a href="#" class="p-1 block hover:bg-gray-700">Dashboard</a>
        </li>
        <li>
            <a th:href="@{/admin/posts}" class="p-1 block hover:bg-gray-700">Posts</a>
        </li>
        <li>
            <a href="#" class="p-1 block hover:bg-gray-700">Tags</a>
        </li>
        <li>
            <a href="#" class="p-1 block hover:bg-gray-700">Links</a>
        </li>
        <li>
            <a href="#" class="p-1 block hover:bg-gray-700">Settings</a>
        </li>
    </ul>
</th:block>
</body>
</html>